capaPresentacion/Connected Services/UsuarioReference/UsuarioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/capaDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/capaDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usuario" nillable="true" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusuario" nillable="true" type="tns:ArrayOfusuario" />
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usuario" nillable="true" type="tns:usuario" />
</xs:schema>